@import "../utils/all.scss";
header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $white;
  @include border(1px, solid, $border_color);
  z-index: 999;
  navbar{
    height: 4.2rem;
    display: flex;
    align-items: center;
    .logo {
      margin-top: 4px;
    }
  }
  .navbar-flex-between{
    justify-content: space-between;
  }
  .navbar-flex{
    justify-content: flex-start
  }
  .search-toogle{
    display: none;
    @media (max-width: 576px) {
      display: block;
    }
  }

  .search-area{
    width: 52%;
    @media (max-width: 992px) {
      width: 40%;
    }
  }
  .search-area-full{
    width: 100%;
  }

  // Only usage cart icon and whitelist icon
  // class name icon-top
  .icon-top {
    position: relative;
    span {
      width: 28px;
      position: absolute;
      top: -13px;
      left: 62%;
      font-size: 14px;
      text-align: center;
      background-color: $main_btn_bg_color;
      border-radius: 9px;
      color: $white;
    }
  }
}
