$link_color: #555;
$black: #333;
$password_icon_color: #333333ab;
$white: #fff;
$border_color: #e5e7eb;
$secondary_color: #e5e7eb;
$gray_color: #f3f4f6;
$gray_100: #eeeeee9e;
$aliceblue: aliceblue;
$dodgerblue: dodgerblue;
$title_color_primary: #61aaff;
$rating_color: #fea702;
$success_bg_color: #a7f3d0;
$success_color: #456646;
$danger_bg_color: #dc1c1c;
$main_btn_bg_color: #5d50dd;
