.forgot-password-container {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  .forgot-div {
    width: 60%;
    background-color: $gray_100;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    .forgot-div-second {
      width: 50%;
      .forgot-header {
        margin-bottom: 20px;
        h3 {
          margin: 10px 0;
        }
        p {
          padding-right: 0;
        }
      }
      .forgot-middle {
        text-align: left;
        label {
          font-weight: 600;
        }
        input {
          width: 100%;
          display: inline;
          padding: 13px 10px;
          font-size: 17px;
          opacity: 0.65;
          border: 1px solid #e5e7eb;
          margin-bottom: 20px;
        }
      }
      .forgot-footer {
        margin-top: 10px;
      }
    }
  }
  @media (max-width: 768px) {
    .forgot-div {
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    .forgot-div {
      .forgot-div-second {
        width: 80%;
        text-align: center;
      }
    }
  }
}
